@charset "UTF-8";
/*=============================================
=                  MARK:Colores                   
=============================================*/
/* SCSS HEX */
/* SCSS Gradient */
/*=============================================
=                MARK:Estilos Base                   
=============================================*/
@import url("https://fonts.googleapis.com/css2?family=REM:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-tap-highlight-color: transparent;
}

html ::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #221e22;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  width: 100%;
}

/*=============================================
=                 MARK:Breakpoints                  
=============================================*/
/*============  End of Breakpoints  =============*/
/*=============================================
=                   MARK:Navbar                   
=============================================*/
nav {
  background-color: #31263e;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
}

.contenedor_nav {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contenedor_nav ul {
  list-style: none;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}
.contenedor_nav .link {
  text-decoration: none;
  color: #a381d7;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (hover: hover) {
  .contenedor_nav .link:hover {
    color: #f27a51;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
}
.contenedor_nav .titulo {
  font-size: 1.3em;
  cursor: pointer;
  color: #946ed0;
}
.contenedor_nav .titulo_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
.contenedor_nav .titulo_nav img {
  width: 3.5em;
  aspect-ratio: 14/9;
}

/*=============================================
=                MARK:Enlaces Móvil                  
=============================================*/
.enlaces_nav_movil {
  position: fixed;
  width: 200px;
  right: -100%;
  background-color: #31263e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border-radius: 10px 0px 0px 10px;
  z-index: 20;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
}
.enlaces_nav_movil ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  font-size: 1.2em;
}
.enlaces_nav_movil li {
  padding-top: clamp(15px, 25%, 35px);
  padding-bottom: clamp(15px, 25%, 35px);
  text-align: center;
}
.enlaces_nav_movil a {
  color: #a381d7;
  text-decoration: none;
}
.enlaces_nav_movil.animar {
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
  right: 0;
}

.oscurecer_fondo {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6235294118);
  z-index: 10;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.oscurecer_fondo.mostrar {
  visibility: visible;
  opacity: 100;
}

.noScroll {
  overflow: hidden;
}

/*=============================================
=             MARK:Menú Hamburguesa                   
=============================================*/
.hamburguesa {
  cursor: pointer;
}
.hamburguesa .linea {
  width: 30px;
  height: 3px;
  background-color: #946ed0;
  margin-bottom: 5px;
  border-radius: 2px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
.hamburguesa .linea:last-child {
  margin-bottom: 0;
}
.hamburguesa.activo .linea:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}
.hamburguesa.activo .linea:nth-child(2) {
  opacity: 0;
}
.hamburguesa.activo .linea:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

/*=============================================
=                  MARK:Responsive                  
=============================================*/
@media (width < 770px) {
  .enlaces_nav {
    display: none;
  }
}
@media (width >= 770px) {
  .hamburguesa,
  .enlaces_nav_movil {
    display: none;
  }
}
@media (width < 545px) {
  .titulo_nav {
    font-size: 0.6em;
  }
  .enlaces_nav_movil ul {
    font-size: 1em;
  }
}
/*============  End of Resposive  =============*/
/*=============================================
=                MARK:Estulos Header                   
=============================================*/
header {
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(34, 30, 34)), color-stop(70%, rgb(49, 38, 62)));
  background: linear-gradient(0deg, rgb(34, 30, 34) 0%, rgb(49, 38, 62) 70%);
  color: rgba(238, 238, 238, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header section {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header section img {
  max-width: 50%;
  aspect-ratio: 568/595;
}
header .contenedor_texto_header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
header .contenedor_texto_header h2 {
  text-align: center;
  font-size: clamp(1.5em, 3.5vw, 50px);
}
header .contenedor_texto_header p {
  margin-top: clamp(1em, 3.5vw, 80px);
  margin-bottom: clamp(1em, 3.5vw, 80px);
  font-size: clamp(1em, 1.05vw, 25px);
}
header .contenedor_texto_header .contenedor_botones_header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
header .contenedor_texto_header .contenedor_botones_header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 1.1em;
  border-radius: 50px;
  height: 2.5em;
  border: none;
  cursor: pointer;
  color: rgba(238, 238, 238, 0.8);
}
header .contenedor_texto_header .contenedor_botones_header button.contactame {
  background-color: #552e90;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
header .contenedor_texto_header .contenedor_botones_header button.contactame:hover {
  background-color: #6034a4;
}
header .contenedor_texto_header .contenedor_botones_header button.descargar_cv {
  background-color: transparent;
  border: solid #6034a4;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}
header .contenedor_texto_header .contenedor_botones_header button.descargar_cv:hover {
  border: solid #6b3bb7;
}

/*=============================================
=                 MARK:Responsive                 
=============================================*/
@media (width <= 1238px) {
  header section {
    padding: 20px;
  }
}
@media (width <= 770px) {
  header section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
  }
  header .contenedor_texto_header {
    margin-right: 0px;
  }
  header section img {
    max-width: 70%;
  }
}
@media (width <= 360px) {
  header section img {
    max-width: 100%;
  }
  .contenedor_botones_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*============  End of Responsive  =============*/