@charset "UTF-8";
/*=============================================
=                  MARK:Colores                   
=============================================*/
/* SCSS HEX */
/* SCSS Gradient */
/*=============================================
=                 MARK:Breakpoints                  
=============================================*/
/*=============================================
=                MARK:Estilos Base                   
=============================================*/
@import url("https://fonts.googleapis.com/css2?family=REM:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-tap-highlight-color: transparent;
}

html ::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #221e22;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(238, 238, 238, 0.8);
}

main {
  width: 100%;
}

/*=============================================
=         MARK:REsponsive Espacio                 
=============================================*/
@media (width <= 1238px) {
  header section,
  .portafolio {
    padding: 20px;
  }
}
@media (width <= 360px) {
  nav {
    padding: 20px;
  }
  header section, .portafolio {
    padding: 10px;
  }
}
/*=============================================
=                   MARK:Navbar                   
=============================================*/
nav {
  background-color: #31263e;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.contenedor_nav {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contenedor_nav ul {
  list-style: none;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}
.contenedor_nav .link {
  text-decoration: none;
  color: #a381d7;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (hover: hover) {
  .contenedor_nav .link:hover {
    color: #bfa8e3;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
}
.contenedor_nav .titulo {
  font-size: 1.3em;
  cursor: pointer;
  color: #946ed0;
}
.contenedor_nav .titulo_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
.contenedor_nav .titulo_nav img {
  width: 3.5em;
  aspect-ratio: 14/9;
}

/*=============================================
=                MARK:Enlaces Móvil                  
=============================================*/
.enlaces_nav_movil {
  position: fixed;
  width: 200px;
  right: -100%;
  background-color: #31263e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border-radius: 10px 0px 0px 10px;
  z-index: 20;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
}
.enlaces_nav_movil ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  font-size: 1.2em;
}
.enlaces_nav_movil li {
  padding-top: clamp(15px, 25%, 35px);
  padding-bottom: clamp(15px, 25%, 35px);
  text-align: center;
}
.enlaces_nav_movil a {
  color: #a381d7;
  text-decoration: none;
}
.enlaces_nav_movil.animar {
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
  right: 0;
}

.oscurecer_fondo {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6235294118);
  z-index: 10;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.oscurecer_fondo.mostrar {
  visibility: visible;
  opacity: 100;
}

.noScroll {
  overflow: hidden;
}

/*=============================================
=             MARK:Menú Hamburguesa                   
=============================================*/
.hamburguesa {
  cursor: pointer;
}
.hamburguesa .linea {
  width: 30px;
  height: 3px;
  background-color: #946ed0;
  margin-bottom: 5px;
  border-radius: 2px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
.hamburguesa .linea:last-child {
  margin-bottom: 0;
}
.hamburguesa.activo .linea:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}
.hamburguesa.activo .linea:nth-child(2) {
  opacity: 0;
}
.hamburguesa.activo .linea:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

/*=============================================
=                  MARK:Responsive                  
=============================================*/
@media (width < 770px) {
  .enlaces_nav {
    display: none;
  }
}
@media (width >= 770px) {
  .hamburguesa,
  .enlaces_nav_movil {
    display: none;
  }
}
@media (width < 545px) {
  .titulo_nav {
    font-size: 0.6em;
  }
  .enlaces_nav_movil ul {
    font-size: 1em;
  }
}
/*============  End of Resposive  =============*/
.boton, .boton_secundario, .portafolio_card .portafolio_botones .botones_ver button, header .contenedor_texto_header .contenedor_botones_header button.descargar_cv, .boton_principal, .portafolio_card .portafolio_botones button, header .contenedor_texto_header .contenedor_botones_header button.contactame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 1.1em;
  border-radius: 50px;
  min-height: 2.5em;
  border: none;
  cursor: pointer;
  color: rgba(238, 238, 238, 0.8);
  -webkit-box-shadow: 0px 0px 0px 0px #7847c4;
          box-shadow: 0px 0px 0px 0px #7847c4;
}
.boton a, .boton_secundario a, .portafolio_card .portafolio_botones .botones_ver button a, header .contenedor_texto_header .contenedor_botones_header button.descargar_cv a, .boton_principal a, .portafolio_card .portafolio_botones button a, header .contenedor_texto_header .contenedor_botones_header button.contactame a {
  text-decoration: none;
  color: rgba(238, 238, 238, 0.8);
}

.boton_principal, .portafolio_card .portafolio_botones button, header .contenedor_texto_header .contenedor_botones_header button.contactame {
  background-color: #552e90;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.boton_principal:hover, .portafolio_card .portafolio_botones button:hover, header .contenedor_texto_header .contenedor_botones_header button.contactame:hover {
  background-color: #6b3bb7;
}

.boton_secundario, .portafolio_card .portafolio_botones .botones_ver button, header .contenedor_texto_header .contenedor_botones_header button.descargar_cv {
  background-color: transparent;
  border: solid #6034a4;
  -webkit-transition: border, -webkit-box-shadow 0.5s;
  transition: border, -webkit-box-shadow 0.5s;
  transition: border, box-shadow 0.5s;
  transition: border, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}
.boton_secundario:hover, .portafolio_card .portafolio_botones .botones_ver button:hover, header .contenedor_texto_header .contenedor_botones_header button.descargar_cv:hover {
  border: solid #6b3bb7;
  -webkit-box-shadow: 0px 0px 10px 0px #7847c4;
          box-shadow: 0px 0px 10px 0px #7847c4;
}

/*=============================================
=                MARK:Estulos Header                   
=============================================*/
header {
  background: -webkit-gradient(linear, left bottom, left top, from(#221e22), color-stop(70%, #31263e));
  background: linear-gradient(0deg, #221e22 0%, #31263e 70%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header section {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header section img {
  max-width: 50%;
  aspect-ratio: 568/595;
}
header .contenedor_texto_header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
header .contenedor_texto_header h2 {
  text-align: center;
  font-size: clamp(1.5em, 3.5vw, 50px);
}
header .contenedor_texto_header p {
  margin-top: clamp(1em, 3.5vw, 80px);
  margin-bottom: clamp(1em, 3.5vw, 80px);
  font-size: clamp(1em, 1.05vw, 25px);
}
header .contenedor_texto_header .contenedor_botones_header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
/*=============================================
=                 MARK:Responsive                 
=============================================*/
@media (width <= 770px) {
  header section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
  }
  header .contenedor_texto_header {
    margin-right: 0px;
  }
  header section img {
    max-width: 70%;
  }
}
@media (width <= 360px) {
  header section img {
    max-width: 100%;
  }
  .contenedor_botones_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*============  End of Responsive  =============*/
.portafolio_contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/fondo2.png");
  background-repeat: repeat space;
}

.portafolio {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 1200px;
}
.portafolio h2 {
  font-size: 2.5em;
  color: #865aca;
}
.portafolio .portafolio_parrafo_intro {
  font-size: 1.2em;
}
.portafolio h2,
.portafolio div {
  text-align: center;
}
.portafolio .contenedor_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  -webkit-perspective: 2800;
          perspective: 2800;
}

.portafolio_card {
  background-color: #31263e;
  padding: 15px;
  border-radius: 15px;
  width: 48%;
  max-width: 400px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portafolio_card .contenedor_header_tecnologias {
  z-index: -10;
}
.portafolio_card .portafolio_header p {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 25px;
  z-index: 1;
}
.portafolio_card .portafolio_header img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 185/139;
  border-radius: 15px;
}
.portafolio_card .portafolio_header .imagen_card {
  position: relative;
}
.portafolio_card .portafolio_header .tipo {
  bottom: 0;
  margin: 3.5%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  padding: 5px;
  font-size: 0.85em;
}
@media (width > 650px) {
  .portafolio_card .portafolio_header .tipo.left {
    right: 0;
  }
}
.portafolio_card .portafolio_tecnologias {
  margin-bottom: 30px;
}
.portafolio_card .portafolio_tecnologias p {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 25px;
}
.portafolio_card .portafolio_tecnologias .etiquetas_tecnologias {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
}
.portafolio_card .portafolio_botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portafolio_card .portafolio_botones .botones_ver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}
.portafolio_card .portafolio_botones .botones_ver button {
  width: 50%;
}
.portafolio_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: -10;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 0;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portafolio_back p {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}
.portafolio_back .contenedor_portafolio_back {
  overflow: hidden;
}
.portafolio_back .contenido_back {
  text-align: left;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
}
.portafolio_back .contenedor_texto_back {
  max-height: calc(100% - 2.7em);
  overflow: scroll;
}
.portafolio_back button {
  margin-top: 20px;
}

/*=============================================
=               MARK:Responsive                   
=============================================*/
@media (width < 770px) {
  .portafolio h2 {
    font-size: 1.8em;
  }
  .portafolio .portafolio_parrafo_intro {
    font-size: 1em;
  }
  .portafolio .portafolio_header p {
    font-size: 1.1em;
  }
  .portafolio .portafolio_tecnologias p {
    font-size: 1em;
  }
  .portafolio .contenedor_cards {
    gap: 10px;
  }
  .portafolio_card .portafolio_botones .botones_ver {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .portafolio_card .portafolio_botones .botones_ver button {
    font-size: 1em;
    width: 100%;
  }
  .portafolio_card .portafolio_botones button {
    font-size: 1em;
  }
  .portafolio_back p {
    font-size: 1.1em;
  }
  .portafolio_back button {
    font-size: 1em;
  }
}
@media (width <= 650px) {
  .portafolio_card {
    width: 100%;
  }
  .portafolio .contenedor_cards {
    gap: 20px;
  }
}
@media (width < 360px) {
  .portafolio_card {
    padding: 10px;
  }
  .portafolio_card .portafolio_header .imagen_card {
    position: relative;
  }
  .portafolio_card .portafolio_header .tipo {
    font-size: 0.7em;
  }
}
/*============  End of Responsive  =============*/
.lenguaje {
  font-size: 1em;
  border-radius: 20px;
  padding: 7px 25px 7px 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2em;
  background-color: #44355b;
}
.lenguaje img {
  width: 1.5em;
}