/*=============================================
=                  MARK:Colores                   
=============================================*/

/* SCSS HEX */
$purpura-logo : #7847c4;

$english-violet: #44355bff;
$dark-purple   : #31263eff;
$raisin-black  : #221e22ff;
$hunyadi-yellow: #eca72cff;
$flame         : #ee5622ff;

$blanco : #eeeeeecc;

/* SCSS Gradient */
$gradiente-fondo: linear-gradient(0deg, #221e22 0%, #31263e 70%);

/*=============================================
=                 MARK:Breakpoints                  
=============================================*/

$xs: 360px; // Extra small devices | Portrait phones (<34em : 22.5em)
$sm: 545px; // Small devices | Landscape phones (≥34em)
$md: 770px; // Medium devices | Tablets (≥48em)
$lg: 990px; // Large devices | Desktops (≥62em)


/*=============================================
=                MARK:Estilos Base                   
=============================================*/

// @import url('https://fonts.googleapis.com/css2?family=REM:wght@100..900&display=swap');

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;

    font-family        : 'REM', sans-serif;
    font-optical-sizing: auto;
    font-style         : normal;
    font-display       : swap;

    -webkit-tap-highlight-color: transparent;
}


html {
    ::-webkit-scrollbar {
        display: none;
    }

    scroll-behavior: smooth;
}

body {
    background-color: $raisin-black;
    overflow-x      : hidden;
    display         : flex;
    justify-content : center;
    color           : $blanco;
}

main {
    width     : 100%;
    margin-top: 78px;

    @media (width < #{$sm}) {
        margin-top: 62px;
    }
}

.seccion_intro {
    h2 {
        font-size: 2.5em;
        color    : lighten($purpura-logo, 5);

        @media (width < #{$md}) {
            font-size: 1.8em;
        }
    }

    .parrafo_intro {
        font-size: 1.2em;
    }

    h2,
    div {
        text-align: center;
    }
}

/*=============================================
=         MARK:REsponsive Espacio                 
=============================================*/

@media (width <=1238px) {

    header section,
    .portafolio,
    .habilidades_contenedor,
    .sobre_mi_contenedor {
        padding: 20px;
    }
}

@media (width <=#{$xs}) {

    nav {
        padding: 20px;
    }

    header section,
    .portafolio,
    .habilidades_contenedor,
    .sobre_mi_contenedor {
        padding: 10px;
    }
}
