
@import 'base';
@import 'sections/index/navbar';

@import 'sections/index/header';

@import 'sections/index/portafolio';

@import 'sections/index/etiquetas_lenguajes';

@import 'sections/index/habilidades';
@import 'sections/index/sobre_mi';