.boton {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    font-size      : 1.1em;
    border-radius  : 50px;
    min-height     : 2.5em;
    border         : none;
    cursor         : pointer;
    color          : $blanco;
    box-shadow     : 0px 0px 0px 0px $purpura-logo;

    a {
        text-decoration: none;
        color          : $blanco
    }
}

.boton_principal {
    @extend .boton;
    background-color: darken($purpura-logo, 15);
    transition      : background-color 0.5s;

    &:hover {
        background-color: darken($purpura-logo, 5);
    }
}

.boton_secundario {
    @extend .boton;
    background-color: transparent;
    border          : solid darken($purpura-logo, 10);
    transition      : border, box-shadow 0.5s;

    &:hover {
        border    : solid darken($purpura-logo, 5);
        box-shadow: 0px 0px 10px 0px $purpura-logo;
    }
}

/*=============================================
=                MARK:Estulos Header                   
=============================================*/

header {
    background     : $gradiente-fondo;
    display        : flex;
    justify-content: center;

    section {
        width          : 1200px;
        display        : flex;
        justify-content: space-between;
        align-items    : center;

        img {
            max-width   : 50%;
            aspect-ratio: 568/595;
        }
    }

    .contenedor_texto_header {
        height         : 100%;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        margin-right   : 20px;

        h2 {
            text-align: center;
            font-size : clamp(1.5em, 3.5vw, 50px);
        }

        p {
            margin-top   : clamp(1em, 3.5vw, 80px);
            margin-bottom: clamp(1em, 3.5vw, 80px);
            font-size    : clamp(1em, 1.05vw, 25px);


        }

        .contenedor_botones_header {
            width  : 100%;
            display: flex;
            gap    : 15px;

            button {

                &.contactame {
                    @extend .boton_principal;
                }


                &.descargar_cv {
                    @extend .boton_secundario;
                }
            }
        }
    }
}

/*=============================================
=                 MARK:Responsive                 
=============================================*/

@media (width >#{$md}) {
    header section {
        margin-top: 30px;
    }
}

@media (width <=#{$md}) {
    header section {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    header .contenedor_texto_header {
        margin-right: 0px;
    }

    header section img {
        max-width: 70%;
    }
}

@media (width <=#{$xs}) {
    header section img {
        max-width: 100%;
    }

    .contenedor_botones_header {
        flex-direction: column;

    }
}

/*============  End of Responsive  =============*/
