/*=============================================
=                   MARK:Navbar                   
=============================================*/

nav {
    background-color: $dark-purple;
    padding         : 20px;
    display         : flex;
    justify-content : center;

    position: fixed;
    top     : 0;
    width   : 100%;
    z-index : 100;
}

.contenedor_nav {
    width          : 1200px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;


    ul {
        list-style: none;
        font-size : 1.2em;
        display   : flex;
        gap       : 1em;
    }

    .link {
        text-decoration: none;
        color          : lighten($purpura-logo, 15);
        transition     : all 0.3s;
        padding: 0;

        @media (hover: hover) {
            &:hover {
                color     : lighten($purpura-logo, 25);
                transition: all 0.3s;
            }
        }

        transition: all 0.5s;
    }

    .linkActivo {
        background-color: rgba( $purpura-logo,0.8);
        color           : $dark-purple;
        transition      : all 0.5s;
        padding         : 5px;
        border-radius   : 20px;
        padding-left    : 15px;
        padding-right   : 15px;
    }

    .titulo {
        font-size: 1.3em;
        cursor   : pointer;
        color    : lighten($purpura-logo, 10);

    }

    .titulo_nav {
        display    : flex;
        align-items: center;
        gap        : 1em;

        img {
            width       : 3.5em;
            aspect-ratio: 14/9;
        }
    }
}

/*=============================================
=                MARK:Enlaces Móvil                  
=============================================*/

.enlaces_nav_movil {
    position        : fixed;
    width           : 200px;
    right           : -100%;
    background-color: $dark-purple;
    display         : flex;
    justify-content : center;
    padding         : 5px;
    border-radius   : 10px 0px 0px 10px;
    z-index         : 20;
    transition      : right 0.5s;

    ul {
        display       : flex;
        flex-direction: column;
        list-style    : none;
        font-size     : 1.2em;

    }

    li {
        padding-top   : clamp(15px, 25%, 35px);
        padding-bottom: clamp(15px, 25%, 35px);
        text-align    : center;
    }

    a {
        color          : lighten($purpura-logo, 15);
        text-decoration: none;
    }

    &.animar {
        transition: right 0.5s;
        right     : 0;
    }

    .linkActivo {
        background-color: rgba( $purpura-logo,0.8);
        color           : $dark-purple;
        transition      : all 0.5s;
        padding         : 5px;
        border-radius   : 20px;
        padding-left    : 15px;
        padding-right   : 15px;
    }
}

.oscurecer_fondo {
    visibility      : hidden;
    opacity         : 0;
    width           : 100%;
    height          : 100vh;
    position        : fixed;
    background-color: #0000009f;
    z-index         : 10;
    overflow        : hidden;
    transition      : all 0.3s;


    &.mostrar {
        visibility: visible;
        opacity   : 100;
    }
}

.noScroll {
    overflow: hidden;
}

/*=============================================
=             MARK:Menú Hamburguesa                   
=============================================*/

.hamburguesa {
    cursor: pointer;

    .linea {
        width           : 30px;
        height          : 3px;
        background-color: lighten($purpura-logo, 10);
        margin-bottom   : 5px;
        border-radius   : 2px;
        transition      : transform 0.3s, opacity 0.3s;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.activo {
        .linea:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }

        .linea:nth-child(2) {
            opacity: 0;
        }

        .linea:nth-child(3) {
            transform: rotate(-45deg) translate(7px, -6px);
        }
    }
}

/*=============================================
=                  MARK:Responsive                  
=============================================*/

@media (width < #{$md}) {
    .enlaces_nav {
        display: none;
    }
}

@media (width >=#{$md}) {

    .hamburguesa,
    .enlaces_nav_movil {
        display: none;
    }
}

@media (width < #{$sm}) {

    .titulo_nav {
        font-size: 0.6em;
    }

    .enlaces_nav_movil ul {
        font-size: 1em;
    }
}

/*============  End of Resposive  =============*/