@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -18000px 0;
    }
}

.fondo{
    background-image : url('../img/webp/fondo.webp');
    background-repeat: repeat space;
    animation        : moveBackground 1000s linear infinite;
}

.portafolio_contenedor {
    display        : flex;
    justify-content: center;
}

.portafolio {
    margin-top   : 30px;
    margin-bottom: 30px;
    width        : 1200px;

    h2 {
        font-size: 2.5em;
        color    : lighten($purpura-logo, 5);
    }

    .portafolio_parrafo_intro {
        font-size: 1.2em;
    }

    h2,
    div {
        text-align: center;
    }

    .contenedor_cards {
        display        : flex;
        justify-content: center;
        flex-wrap      : wrap;
        gap            : 20px;
        margin-top     : 20px;
        perspective    : 2800;
    }
}

.portafolio_card {

    background-color: $dark-purple;
    padding         : 15px;
    border-radius   : 15px;
    width           : 48%;
    max-width       : 400px;

    position       : relative;
    transform-style: preserve-3d;
    transition     : transform 0.5s;
    display        : flex;
    flex-direction : column;

    justify-content: space-between;

    .contenedor_header_tecnologias {
        z-index: -10;
    }

    .portafolio_header {
        p {
            text-align   : center;
            margin-bottom: 10px;
            font-size    : 1.5em;
            font-weight  : bold;
            margin-bottom: 25px;
            z-index      : 1;
        }

        img {
            max-width    : 100%;
            object-fit   : cover;
            aspect-ratio : 185/139;
            border-radius: 15px;
        }

        .imagen_card {
            position: relative;
        }

        .tipo {
            bottom          : 0;
            margin          : 3.5%;
            border-radius   : 5px;
            background-color: rgba(transparent, $alpha: 0.60);
            position        : absolute;
            padding         : 5px;
            font-size       : 0.85em;

            &.left {
                @media (width > 650px) {
                    right: 0;
                }
            }
        }

    }

    .portafolio_tecnologias {
        margin-bottom: 30px;

        p {
            font-size  : 1.3em;
            font-weight: bold;
            margin-top : 25px;
        }

        .etiquetas_tecnologias {
            padding-top    : 10px;
            display        : flex;
            justify-content: center;
            flex-wrap      : wrap;
            gap            : 1em;

            img {
                aspect-ratio: 1/1;
            }
        }
    }

    .portafolio_botones {
        display       : flex;
        flex-direction: column;

        .botones_ver {
            display      : flex;
            gap          : 20px;
            margin-bottom: 15px;

            button, a {
                text-decoration: none;
                width: 50%;
                @extend .boton_secundario;
            }
        }

        button {
            @extend .boton_principal;
        }
    }
}


.portafolio_back {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    transform : rotateY(180deg);
    transition: transform 0.5s;
    z-index   : -1000;

    transition: opacity 0.2s;
    opacity   : 0;
    padding   : 15px;

    // ---------------
    display        : flex;
    flex-direction : column;
    justify-content: center;
    justify-content: space-between;

    //----------------

    p {
        font-size    : 1.5em;
        font-weight  : bold;
        margin-bottom: 20px;
    }

    .contenedor_portafolio_back {
        overflow: hidden;
    }

    .contenido_back {
        text-align    : left;
        transition    : opacity 0.2s;
        display       : flex;
        flex-direction: column;
        visibility    : hidden;
    }

    .contenedor_texto_back {
        max-height: calc(100% - 2.5em);
        overflow  : scroll;
    }

    button {
        margin-top: 20px;
    }
}


/*=============================================
=               MARK:Responsive                   
=============================================*/


@media (width < #{$md}) {

    .portafolio {
        h2 {
            font-size: 1.8em;
        }

        .portafolio_parrafo_intro {
            font-size: 1em;
        }

        .portafolio_header {
            p {
                font-size: 1.1em;
            }
        }

        .portafolio_tecnologias {
            p {
                font-size: 1em;
            }
        }

        .contenedor_cards {
            gap: 10px;
        }
    }

    .portafolio_card .portafolio_botones {

        .botones_ver {
            flex-direction: column;
            gap           : 15px;

            button, a{
                font-size: 1em;
                width    : 100%;
            }
        }

        button {
            font-size: 1em;
        }
    }

    .portafolio_back {
        p {
            font-size: 1.1em;
        }

        button {
            font-size: 1em;
        }
    }

}

@media (width <=650px) {
    .portafolio_card {
        width: 100%;
    }

    .portafolio .contenedor_cards {
        gap: 20px;
    }
}


@media (width < #{$xs}) {
    .portafolio_card {
        padding: 10px;
    }

    .portafolio_card .portafolio_header {
        .imagen_card {
            position: relative;
        }

        .tipo {
            font-size: 0.70em;
        }
    }
}

/*============  End of Responsive  =============*/
